.logo {
    width: 60px;
}

.navbar {
    font-family: 'Trispace', sans-serif;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
}

.text-main {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.main {
    margin-top: 80px;
    margin-bottom: 80px;
}

.slider-main {
    justify-content: center;
    width: 800px;
}

.clock {
    margin: 5px;
}

.button {
    background-color: #724212;
    color: wheat;
    border: 0;
}

.button:hover {
    background: gainsboro;
    color: black;
}

@media (max-width: 700px) {
    .slider-main{
        width: 400px;
    }
}
@media (max-width: 300px) {
    .slider-main{
        width: 300px;
    }
}